body{ 
background-color: rgb(235, 225, 225);
}

.container{
    background-color: white;
    margin-top: 10px;
    text-align: left;
    border-spacing: 15px;
    
}
.about-me{
    font-family: 'Alfa Slab One', cursive;
    color: teal;  
    margin: 25px;
    
}
.navbar-nav{
    font-family: 'Alfa Slab One', cursive;
}


.navbar.navbar-light .navbar-brand{
    background-color:teal;
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-size: 2rem;
    
}

.image{
    float: left;
    margin-right: 10px ;
    margin-bottom: 5px;
}

.row{
border-bottom: 10px;
}
