body{ 
background-color: rgb(235, 225, 225);
}

.container{
    background-color: white;
    margin-top: 10px;
    text-align: left;
    border-spacing: 15px;
    
}

.containerp{
    background-color: white;
    margin-top: 10px;
    text-align: center;
    border-spacing: 15px;
}
    
.h1{
    font-family: 'Alfa Slab One', cursive;
    color: teal;  
    margin: 25px;
}
 .h3 {
    font-family: 'Alfa Slab One', cursive;
    color: teal;  
     margin: 25px; 
 }

.resume{
font-size: 20px;
}

 a {
    font-family: 'Alfa Slab One', cursive;
    color: teal;  
    margin: 25px;
}


.navbar-nav{
    font-family: 'Alfa Slab One', cursive;
    
}


.navbar.navbar-light .navbar-brand{
    background-color:teal;
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-size: 2rem;
    
}

.food{
    float: left;
    margin: 100px;
    border: solid;
}
 
.pass{
    float: left;
    margin: 100px;
    border: solid;
}

.work{
    float: right;
    margin: 100px;
    border: solid;
}

.home{
    float: right;
    margin: 100px;
    border: solid;
}

.left{
    margin: 20px;
}

.image{
    float: left;
    margin-right: 10px ;
    margin-bottom: 5px;
    border-radius: 20px;
}



.row{
border-bottom: 10px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: white;
}

footer h2 {
    font-size: 20px;
}
